body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: #333333;
    color: white;
    width: 100px;
    height: 100px;
}

p{
    font-size: 40px;
}

.arithmetic{
    background-color: #fea00a;
    color: white;
}

#main-container{
    position: relative;
    top: 2vh;
}

footer{
    text-align: center;
    color: white;
}

.showNumber{
    color: white;
    min-width: 28.5vw;
    border: 1px solid white;
    height: 100px;
    border-radius: 20px;
    padding: 15px;
}